.name{
  padding:5px;
  margin:20px;
}

.topSpace{
	height: 100px;
}

.productContainer{
	float: left;
	height: 400px;
	width: 600px;
}

.productImage{
	height: 100%;
	width: 100%;
}

.content{
	float: right;
	margin-left: 100px;
}

.subImage{
	height: 100%;
	width: 100%;
}